<mat-toolbar color="primary">
  <button mat-button (click)="sidenav.toggle()">
    <img width="60px" height="60px" src="./assets/img/CoursierApp.png"/>
    <span style="font-size: 200%">
      Coursier App
    </span>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #sidenav [fixedInViewport]="false" [mode]="'over'">
    <mat-nav-list>
      <a mat-list-item href="/">
        <mat-icon mat-list-icon>home</mat-icon>
        <h4 mat-line>Home</h4>
      </a>
      <mat-list-item>
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <h4 mat-line>Users Manager</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fill-height>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
